<table>
   <caption>Practice Table</caption>
   <thead>
	   <link rel="stylesheet" href="../static/styles/TableStyling.css">
      <tr>
         <header>0.00</header>

      </tr>
   </thead>
   <tbody>
      <tr>
         <td>col 1 cell 1</td>
         <td>col 2 cell 2</td>
         <td>col 3 cell 3</td>
         <td>col 4 cell 4</td>
      </tr>
      <tr>
         <td>col 1 cell 1</td>
         <td>col 2 cell 2</td>
         <td>col 3 cell 3</td>
         <td>col 4 cell 4</td>
      </tr>
       <tr>
         <td>col 1 cell 1</td>
         <td>col 2 cell 2</td>
         <td>col 3 cell 3</td>
         <td>col 4 cell 4</td>
      </tr>
       <tr>
         <td>col 1 cell 1</td>
         <td>col 2 cell 2</td>
         <td>col 3 cell 3</td>
         <td>col 4 cell 4</td>
      </tr>
   </tbody>
   <tfoot>
      <tr>
         <footer>=</footer>
         <footer>-	</footer>

      </tr>
   </tfoot>
</table>