<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Company Logos</title>
</head>

<body>
	<a href="https://www.facebook.com/" target=“_blank”>
		<img src="../images/facebookLogo.png" alt="FB logo" height="200" width="300">
		<p>Facebook</p>
	</a>
	<a href="https://www.google.com/" target=“_blank”>
		<img src="../images/GoogleLogo.png" alt="Google logo" height="200" width="300">
		<p>Google</p>
	</a>
	<a href="https://www.microsoft.com/en-us/" target=“_blank”>
		<img src="../images/microsoftLogo.png" alt="Microsoft logo" height="200" width="300">
		<p>Microsoft</p>
	</a>
</body>

</html>