		header, footer {
			text-align: center;
            padding: 10px;
			margin: 10px;
		}
		
		body {
            font-family: 'Shadow Into Light', cursive;
            background-color: rgb(255, 241, 94);
            margin: 10px auto;
            padding: 0;
        }
        section{
			text-align: center;
		}

        form {
            max-width: 400px;
            margin: 10px auto;
            padding: 20px;
            background-color: rgb(204, 204, 204);
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #333;
        }

        input, select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        input[type="text"]:invalid {
            border-color: #FF6347;
        }

        input[type="email"]:invalid {
            border-color: #FF6347;
        }
        
        input[type="password"]:invalid {
            border-color: #FF6347;
        }


